* {
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: .7em 6em;
}

body>header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
  padding-bottom: .6em;
}

body>header>hgroup>p {
  margin-top: .4em;
  font-size: 1.5em;
}

body>header nav {
  display: flex;
  align-items: center;
  gap: 3em;
}

body>header nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

body>header nav a:hover {
  box-shadow: 0px 2px gray;
}

main {
  margin: 1em 0em;
  display: flex;
  justify-content: space-between;
}

article p {
  line-height: 1.7em;
  font-size: 1.3em;
}

address p {
  font-size: 1.1em;
}

article {
  background-color: rgb(247, 249, 252);
  width: 79.5%;
  padding: 1em 1.8em;
}

article mark {
  background-color: rgb(45, 215, 45);
  font-size: 1.2em;
}

article header {
  margin-bottom: 1em;
}

article header h2 {
  font-size: 2em;
}

article header p {
  font-size: 1.1em;
}

article section {
  padding-top: 1.5em;
}

article section h3 {
  font-size: 1.4em;
  margin-bottom: .5em;
}

article address {
  margin-top: 1.5em;
}

article details {
  margin: 1.3em;
}

aside {
  background-color: rgb(247, 249, 252);
  padding: 1em 1em;
}

aside :nth-child(1) {
  font-weight: 750;
}

figure {
  margin-top: 1em;
}

body>footer {
  border-top: 2px solid gray;
  padding-top: .5em;
}

details {
  font-size: 1.2em;
}

dialog {
  position: relative;
  left: 44%;
}